:root {
    --title_font: 'Montserrat', sans-serif;
    --body_font: 'Open Sans', sans-serif;
    --background-color: #ffffff;
    --navigation-text-color: #767d89;
    --text-color: #555555;
    --topic-color: #000000;
    --footer-color: #074589;
    --accent_color: #35465c;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color);
    padding: 10px 20px;
}

.logo-title {
    display: flex;
    align-items: center;
}

.logo-title img {
    height: 50px;
}

.logo-title h1 {
    margin-left: 10px;
    font-size: 1.5rem;
    font-family: var(--title_font);
    color: var(--navigation-text-color);
}

/*Navigation*/

.nav-menu {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.nav-menu li {
    margin-left: 15px;
}

.nav-menu a {
    color: var(--navigation-text-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    font-family: var(--body_font);
}

.nav-menu a:hover {
    color: var(--accent_color);
}

main {
    font-family: var(--body_font);

}
#members.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

#members.list {
    display: block;
}

.member-card {
    padding: 1rem;
    background: var(--background-color);
    font-family: var(--body_font);
}

.member-card img {
    max-width: 100%;
    height: auto;
}

.member-card a {
    color: var(--accent_color);
    font-family: var(--body_font);
}

.controls button {
    padding: 10px 20px;
    margin: 0 5px;
    background-color: var(--accent_color, --footer-color);
    color: white;
    border: none;
    border-radius: 8px;
    font-family: var(--body_font);
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.controls button:hover {
    background-color: var(--footer-color);
    transform: scale(1.05);
}

.controls button:active {
    transform: scale(0.95);
}

/*Footer*/
footer {
    background-color: var(--footer-color);
    color: white;
    padding: 20px 20px;
    font-family: var(--body_font);
    text-align:justify;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "one""two""three";
}

footer section {
    text-align: center;
}
.two a {
    margin: 10px;
    color: black;
    font-size: 40px;
}

.church-logo {
    height: 34px;
}
