:root {
    --title_font: 'Montserrat', sans-serif;
    --body_font: 'Open Sans', sans-serif;
    --background-color: #ffffff;
    --navigation-text-color: #767d89;
    --text-color: #555555;
    --topic-color: #000000;
    --footer-color: #074589;
    --accent_color: #35465c;
    --decoration-color: #f7bd3c;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color);
    padding: 10px 20px;
}

.logo-title {
    display: flex;
    align-items: center;
}

.logo-title img {
    height: 50px;
}

.logo-title p {
    margin-left: 10px;
    font-size: 1.5rem;
    font-family: var(--title_font);
    color: var(--navigation-text-color);
}

/*Navigation*/

.nav-menu {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.nav-menu li {
    margin-left: 15px;
}

.nav-menu a {
    color: var(--navigation-text-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    font-family: var(--body_font);
}

.nav-menu a:hover {
    color: var(--accent_color);
}

h1 {
    font-family: var(--title_font);
    color: var(--topic-color);
    text-align: center;
    margin-top: 20px;
}

/*Cards*/
.card {
    background-color: var(--background-color);
    border-radius: 12px;
    overflow: hidden;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.card h2 {
    color: var(--topic-color);
    font-family: var(--title_font);
}

.card address {
    margin: 0 16px;
    font-style: italic;
    font-size: 14px;
    color: var(--text-color);
}

.card p {
    font-size: 14px;
    color: var(--text-color);
    font-family: var(--body_font);
}

.card button {
    margin: 16px;
    padding: 10px 16px;
    background-color: var(--accent_color);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    align-self: start;
    transition: background-color 0.3s ease;
    font-family: var(--body_font);
}

.card button:hover {
    background-color: var(--navigation-text-color);
}

#visit-message{
    text-align: center;
    font-family: var(--title_font);
    color: var(--text-color);
    margin-bottom: 20px;
}

/*Footer*/
footer {
    background-color: var(--footer-color);
    color: white;
    padding: 20px 20px;
    font-family: var(--body_font);
    text-align:justify;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "one""two""three";
}

footer section {
    text-align: center;
}

.two img {
    height: 34px;
}


/* Media Queries */
@media (min-width: 1025px){
    .hamburger {
    display: none;
}

    .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14px;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    border-radius: 12px;
    overflow: hidden;
    padding: 10px;
    
    display: grid;
    grid-template-areas:
        "name name name "
        "img description description"
        "img address address"
        "button button button";
}

.card figure {
    margin: 0;
    height: 200px;
    width: 200px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-area: img;
}

.card h2 {
    margin: 16px;
    font-size: 20px;
    grid-area: name;
}

.card address {
    margin: 0 16px;
    font-size: 14px;
    grid-area: address;
}

.card p {
    margin: 16px;
    font-size: 14px;
    grid-area: description;
}

.card button {
    margin: 16px;
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    align-self: start;
    transition: background-color 0.3s ease;
    grid-area: button;
}

.card img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}


}

@media (min-width: 641px) and (max-width: 1024px) {

header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    background-color: var(--nav_footer_color);
}

.header-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

header h1 {
    font-size: 1.5rem;
    margin: 10px 0;
    width: 100%;
    text-align: center;
}

nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-menu {
    display: none;
    flex-direction: column;
    width: 90%;
    background-color: var(--background-color);
    padding: 10px;
}

.nav-menu.open {
    display: flex;
}

.nav-menu li {
    margin: 5px 0;
}

nav a {
    color: var(--navigation-text-color);
    font-size: 1.2rem;
    text-align: center;
    padding: 8px 0;
    display: block;
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px 10px;
    grid-template-areas:
        "one"
        "two"
        "three";
}

footer a i {
    font-size: 30px;
}

.hamburger {
    display: flex;
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--navigation-text-color);
    cursor: pointer;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 14px;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    border-radius: 12px;
    overflow: hidden;
    padding: 10px;
    
    display: grid;
    grid-template-areas:
        "name name name "
        "img description description"
        "img address address"
        "button button button";
}

.card figure {
    margin: 0;
    height: 200px;
    width: 200px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-area: img;
}

.card h2 {
    margin: 16px;
    font-size: 20px;
    grid-area: name;
}

.card address {
    margin: 0 16px;
    font-size: 14px;
    grid-area: address;
}

.card p {
    margin: 16px;
    font-size: 14px;
    grid-area: description;
}

.card button {
    margin: 16px;
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    align-self: start;
    transition: background-color 0.3s ease;
    grid-area: button;
}

}

@media (min-width: 320px) and (max-width: 640px) {
    header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    background-color: var(--nav_footer_color);
}

.header-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

header h1 {
    font-size: 1.5rem;
    margin: 10px 0;
    width: 100%;
    text-align: center;
}

nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-menu {
    display: none;
    flex-direction: column;
    width: 90%;
    background-color: var(--background-color);
    padding: 10px;
}

.nav-menu.open {
    display: flex;
}

.nav-menu li {
    margin: 5px 0;
}

nav a {
    color: var(--navigation-text-color);
    font-size: 1.2rem;
    text-align: center;
    padding: 8px 0;
    display: block;
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px 10px;
    grid-template-areas:
        "one"
        "two"
        "three";
}

footer a i {
    font-size: 30px;
}

.hamburger {
    display: flex;
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--navigation-text-color);
    cursor: pointer;
}

    .card-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 14px;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    border-radius: 12px;
    overflow: hidden;
    
    display: grid;
    grid-template-areas:
        "name "
        "img"
        "description"
        "address"
        "button";
}

.card figure {
    margin: 0;
    height: 200px;
    width: 200px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-area: img;

}

.card h2 {
    margin: 16px;
    font-size: 20px;
    grid-area: name;
    text-align: center;
}

.card address {
    margin: 0 16px;
    font-size: 14px;
    grid-area: address;
}

.card p {
    margin: 16px;
    font-size: 14px;
    grid-area: description;
}

.card button {
    margin: 16px;
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    align-self: start;
    transition: background-color 0.3s ease;
    grid-area: button;
}
}